Body{
font-family: Arial, Helvetica, sans-serif;
color: #222;
}


.emojis{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 2rem;
}


.emoji{
display: flex;
flex-direction: column;
border: 1px solid #222;
border-radius: 8px;
padding: 1rem;
}

.emoji h2{
margin: 0;
border-bottom: 2px solid #ccc;
}

.icon{
font-size: 4rem;
text-align: center;
margin-bottom: 1rem;
order: -1;
}

.emoji a{
text-decoration: none;
background-color: #781BAA;
color: white;
padding: 1rem;
border-radius: 8px;                                                                                                                                                          
margin-top:auto;
}